body {
    margin: a; font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #cfa1fa 100%);
    min-height: 100vh;
        /* Сайт не станет уже 320 пикселей. Если экран меньше — появится горизонтальный скролл */
    min-width: 320px; 
    
    /* Чтобы контент не прилипал к краям на узких экранах */
}

.no-scroll {
    overflow: hidden;
}


* {
  -webkit-user-select: none;
  user-select: none;

  -webkit-touch-callout: none; /* убирает меню на iOS */
  -webkit-tap-highlight-color: transparent; /* убирает подсветку */

  -webkit-user-drag: none;
}


.main-container {
    width: 100%;
    max-width: 700px; /* Было 622px, ставим больше */
    margin: auto;
    padding: 0 0px;  /* Небольшие отступы, чтобы не липло к краям экрана */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.party-card {
    padding: 30px; border-radius: 30px;
    width: 100%; max-width: 650px;
}

.balloon {
    position: fixed; border-radius: 50%; opacity: 0.4; z-index: 1;
    animation: float 6s infinite ease-in-out;
}
.balloon-1 { width: 80px; height: 100px; background: #ff85a1; top: 15%; left: 5%; }
.balloon-2 { width: 60px; height: 80px; background: #ffeaa7; top: 50%; right: 5%; animation-delay: 2s; }
.balloon-3 { width: 90px; height: 110px; background: #a29bfe; bottom: 10%; left: 10%; animation-delay: 4s; }

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

/* Отключаем жесты масштабирования на уровне CSS */
html, body {
    touch-action: pan-x pan-y; /* Разрешает только скролл, запрещает зум щипком */
    -webkit-user-select: none;
    user-select: none;
}

/* Убираем синюю рамку и зум при фокусе */
input, select, textarea {
    font-size: 12px; 
}

* {
    -webkit-tap-highlight-color: transparent; /* Убирает синюю рамку при клике на кнопки/инпуты */
}
